<div class="post-links">
                      <% if @p.post_type == "Prayer"  %>
                      <span><a class="pray-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;">PRAY</span><span class="action-count">3543</span></a></span>
                      <span><a class="pray-button" href="/post/<%= @p.id %>"><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-comment"></span></span><span class="action-count"><%= Comment.where(post_id: @p.id).count %></span></a></span>
                      <span><a class="pray-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-heart-empty"></span></span><span class="action-count">3543</span></a></span>
                      <% elsif @p.post_type == "Praise"  %>
                      <span><a class="praise-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;">PRAISE</span><span class="action-count-praise">3543</span></a></span>
                      <span><a class="praise-button" href="/post/<%= @p.id %>"><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-comment"></span></span><span class="action-count-praise"><%= Comment.where(post_id: @p.id).count %></span></a></span>
                      <span><a class="praise-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-heart-empty"></span></span><span class="action-count-praise">3543</span></a></span>
                      <% else %>
                      <span><a class="update-button" href="/post/<%= @p.id %>"><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-comment"></span></span><span class="action-count-update"><%= Comment.where(post_id: @p.id).count %></span></a></span>
                    
                     
                      
                      <% end %>
                </div>