<div class="panel panel-default post-panel">
            <div class="row">
                <div class='col-sm-12'>
                    <% if @p.content.match(/pray/i) %>
                      <p class='post-type' style="background-color: rgba(199,91,91,0.85)">PRAYER</p>
                      <% elsif @p.content.match(/praise/i)  %>
                      <p class='post-type' style="background-color:#1ac9c9;">PRAISE</p>
                      <% end %>
                    
                </div>
            </div>
          <div class="panel-body row">
              <div class='col-sm-2'>
                  <center><a href="/user/<%=current_user.username%>"><img src="/pyramidofmoney.jpg" height="50px" width="50px" style="border-radius:50%;border:2px solid #1ac9c9"></img></a></center>
              </div>
              <div class="col-sm-7">
                  <a style="color:#1ac9c9" href="/user/<%= User.find(@p.user_id).username %>" class='post-title'><strong>Username</strong>  &nbsp;<span style="font-size:10px">@<%= User.find(@p.user_id).username %></span></a>
                  <p class='post-content wrapword'><%= @p.content %></p>
              </div>
               <div class="col-sm-3">
                  <p class="post-date"><%= distance_of_time_in_words(@p.created_at,Time.now) %> ago</p>
              </div>
              </div>
              <div class="row" style="padding:10px;padding-top:0;margin-bottom:20px;top:0">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                  <div class="post-links">
                      <% if @p.content.match(/pray/i)  %>
                      <span><a class="pray-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;">PRAY</span><span class="action-count">3543</span></a></span>
                      <span><a class="pray-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-comment"></span></span><span class="action-count">3543</span></a></span>
                      <span><a class="pray-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-heart-empty"></span></span><span class="action-count">3543</span></a></span>
                      <% elsif @p.content.match(/praise/i)  %>
                      <span><a class="praise-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;">PRAISE</span><span class="action-count-praise">3543</span></a></span>
                      <span><a class="praise-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-comment"></span></span><span class="action-count-praise">3543</span></a></span>
                      <span><a class="praise-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-heart-empty"></span></span><span class="action-count-praise">3543</span></a></span>
                      <% else %>
                      <span><a class="update-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-comment"></span></span><span class="action-count-update">3543</span></a></span>
                      <span><a class="update-button" href=""><span style="padding:7px;padding-left:10px;padding-right:10px;"><span class="glyphicon glyphicon-heart-empty"></span></span><span class="action-count-update">3543</span></a></span>
                      <% end %>
                </div>
              </div>
             
            
          </div>
        </div>