<% for @u in @users do %>
               <div>
                   <div class="col-sm-3">
                   <center><a href="/@<%= @u.username %>"><img src="<%= @u.avatar.url(:small) %>" style="width:50px;height:50px;border-radius:50%;margin-top:15px;margin-left:15px;"/></a></center>
                   </div>
                   <div class="col-sm-9">
                       <center><a href="/@<%= @u.username %>"><h1 style="font-size:120%;color:#000"><%= @u.display_name %></h1></a></center>
                        <div class="col-sm-7">
                       <a href="/@<%= @u.username %>" style="font-size:90%;color:#1ac9c9">@<%= @u.username %></a>
                       </div
                        <div class="col-sm-5">
                       <a href="/@<%= @u.username %>" style="font-size:90%;color:#000;opacity:0.7"><%= pluralize(@u.followers.count, "follower") %></a>
                       </div
                   </div>
                   <div class="col-sm-12">
                       <% if current_user.id != @u.id %>  
                                    <% if !current_user.following?(@u) %>
                                        <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
                                            <div><%= hidden_field_tag :followed_id, @u.id %></div>
                                            <%= f.submit "FOLLOW", class: "btn btn-primary profile-btn-sm" %>
                                        <% end %>
                                    <% else %>
                                        <%= form_for(current_user.active_relationships.find_by(followed_id: @u.id),
                                            html: { method: :delete }) do |f| %>
                                            <%= f.submit "UNFOLLOW", class: "btn btn-secondary profile-btn-sm" %>
                                        <% end %>
                                    <% end %>
                       <% end %>
                   </div>
                  </div>
                  <div class="divider" style="width:100%;height:2px;"></div>
               <% end %>