<div class="container">
    <div class="row post-container" style="overflow:visible;margin-top:40px;">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6" >
            <center>
                <a href="/@<%= current_user.username %>"><img src="<%= current_user.avatar.url(:medium) %>" style="max-width:100px;margin-top:-40px;background-color:white" class="raised rounded"/></a><br>
                    <t1><%= current_user.display_name %></t1><br>
                <a href="/@<%= current_user.username %>"> <t4 class="tag" style="position:relative;top:5px;left:7px;">@ <%= current_user.username %></t4></a>
                <div style="margin:10px;margin-top:20px">
                     <div style="display:inline-block;margin-left:25px;margin-right:25px;">
                        <t1 style="color: #1ac9c9" class="raisedText"><%= number_with_delimiter(current_user.followers.count, :delimiter => ',') %></t1><br>
                        <t4 class="raisedText">Followers</t4>
                     </div>
                     <div style="display:inline-block;margin-left:25px;margin-right:25px;">
                        <t1 style="color: #1ac9c9" class="raisedText"><%= number_with_delimiter(current_user.posts.count, :delimiter => ',') %></t1><br>
                        <t4 class="raisedText">Posts</t4>
                     </div>
                </div>
          </center>
        </div>
        <div class="col-sm-3">
        </div>
        
              
               
    </div>
    
    
    <div class="col-sm-12">
               <%= render "/components/top_users" %>
               <%= render "/components/post_form" %>
        
         <div style="margin-top:20px;">
             <% for @p in @posts %>
        <%= render "/components/post" %>
        <% end %>
         </div>
    </div>
    
</div>
<script>
    document.title="Home | Unafire"
</script>