<div class="row">
    <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-body">
              <center>
                  <a href="/user/<%= current_user.username %>"><img src="/pyramidofmoney.jpg" style="width:100px;height:100px;border-radius:50%;"/></a>
                  <h1>Aespect</h1>
                  <p>@<%= current_user.username %></p>
              
               <h1 style="color: #1ac9c9"><%= current_user.posts.count %></h1><span style="opacity:0.7;font-weight:400;letter-spacing:1px;font-size:15px;color:#000;">&nbsp;POSTS</span>
               <h1 style="color: #1ac9c9"><%= current_user.followers.count %></h1><span style="opacity:0.7;font-weight:400;letter-spacing:1px;font-size:15px;color:#000;">&nbsp;FOLLOWERS</span>
               <h1 style="color: #1ac9c9"><%= current_user.following.count %></h1><span style="opacity:0.7;font-weight:400;letter-spacing:1px;font-size:15px;color:#000;">&nbsp;FOLLOWING</span>
          </center>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
               trends
          </div>
        </div>
    </div>
    
    
    <div class="col-xs-7">
        <%= render "/components/post_form" %><br><br>
         <% for @p in @posts %>
        <%= render "/components/post" %>
    <% end %>
    </div>
</div>

<script>
    document.title="Unafire | Home"
</script>