<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <center><img class="profilePic" src="<%= User.find_by_username(@username).avatar.url(:medium) %>"></center>
          <center><h1>@<%= @username %></h1></center>
         </div>
        </div>
</div>

              
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body">
              <center>
              <h1>Aespect</h1>
              <p>@<%= @username %></p>
              </center>
               <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
            
              <center>
               <h1 style="color: #1ac9c9"><%= User.find_by_username(@username).posts.count %></h1><span style="opacity:0.7;font-weight:400;letter-spacing:1px;font-size:15px;color:#000;">&nbsp;POSTS</span>
               <h1 style="color: #1ac9c9"><%= User.find_by_username(@username).followers.count %></h1><span style="opacity:0.7;font-weight:400;letter-spacing:1px;font-size:15px;color:#000;">&nbsp;FOLLOWERS</span>
               <h1 style="color: #1ac9c9"><%= User.find_by_username(@username).following.count %></h1><span style="opacity:0.7;font-weight:400;letter-spacing:1px;font-size:15px;color:#000;">&nbsp;FOLLOWING</span>
          </center>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
               trends
          </div>
        </div>
    </div>
    
    
    <div class="col-xs-8">
        <% if @username == current_user.username %>
         <%= render "/components/post_form" %><br><br>
         <% end %>
         <% for @p in @posts %>
        <%= render "/components/post" %>
    <% end %>
    </div>
</div>

<script>
    document.title = "@<%= @username %> | Unafire"
    
</script>