<!DOCTYPE html>
<html>
<head>
  <title>Unafire</title>
  <link rel="shortcut icon" href="/Icon80.png">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
  <div id = "notice-wrapper">
  <p class="notice"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; <%= notice %></p>
  </div>
  <% elsif alert %>
  <div id = "alert-wrapper">
  <p class="alert"><span class="glyphicon glyphicon-alert"></span>&nbsp; <%= alert %></p>
  </div>
  <% end %>
  
  
<%= render '/layouts/nav' %>
  
       
<%= yield %>

<script>
  $(document).ready(function() {
    setTimeout(function(){
      $('#notice-wrapper').fadeOut("slow", function(){
      })
    }, 4000)
    
    setTimeout(function(){
      $('#alert-wrapper').fadeOut("slow", function(){
      })
    }, 4000)
  })

</script>

</body>
</html>
